body {
    font-family: "Lucida Grande","Lucida Sans Unicode",Lucida,Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0px;
    overflow: auto ;    
}

/* clickable widgets: */
.clickable {
    border: 1px solid #A4C594;
    /*border: 1px solid rgb(220, 50, 14)*/
    cursor: pointer;
    width: auto;
    padding: 2px 6px 2px 6px;
    background-color: white;
}


.clickable:hover {
    cursor: pointer;
    color: #667E90;
}

.clickable.active {
    background: #DC320E;
    color: white;
}

.clickable a {
    text-decoration: none;
    color: black;
}

.clickable.active a {
    color: white;
    font-weight: bold ;
}


/* header: */
#topheader {
/*    position: absolute;
    top: -8px;
    left: -8px;*/
    height: 80px ;
    padding: 0px;
    border: 0px;
    width: 100%;
    background-repeat:repeat;
    background-position:left top;
    background-image: url("http://m115.organic.hu/wp-content/uploads/2011/08/header6.jpg");
}

div.flags {
    background: rgba(0, 0, 0, 0.7);  
    position:absolute;
    top: 10px;
    left: 400px;
    font-weight: bold;
}

div.flags a {
    color: white;
}

#fb-like {
    position: fixed;
    top: 10px;
    left: 600px;
    height: 20px;
    width: 120px;
    background: rgba(0, 0, 0, 0.7);  
}

div.logo-text {
    position:absolute;
    top: 4px;
    left: 6px;
    border: 1px solid #A4C594;
    width: 350px;
    background: rgba(220, 50, 14, 0.6);
    color: rgb(240,240,240);    
    font-size: 24px;
}

div.logo-text a {
    text-decoration: none;
    padding-left: 10px;
    color: rgb(240,240,240) !important;
}

div.site-slogan {
    position: absolute;
    top: 33px;
    left: 10px;
    width: 140px;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: rgb(240,240,240);
    font-size: 10px;
}

/* navigation menu: */
#navigation {
    position: absolute;
    top: 47px;
    left: 6px;
    height: 32px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);  
    border: 0px;
    -moz-border-radius: 0px 0px 0px 0px;
}

#navigation .navlink {
    float:left; 
    display:block;
    border: 1px solid black;
    -moz-border-radius: 0px 0px 0px 0px;
    margin: 0px;
}

#navigation .navlink .active {
    background: white; /*#DC320E;*/
    color: black ;
}

#navigation div.navlink:hover {
    background-color: rgba(220, 50, 14, 0.3) !important; 
    background: url("../img/arrow2.png") no-repeat scroll center bottom #9DBF8C;
}

#navigation a {
    color: rgb(250,250,250);
    padding: 8px 20px;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

#navigation a:hover {
}


/* content div: */
#content {
    position: fixed ;
    top: 80px;
    left: 0px;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto ;
    border-image-width: 0;   
    /*width: 100%;*/
}

/* realtime selectors: */
#realtime-selectors {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px 0px 2px 2px;
}


/* index statistics: */
.statstab th {
    border: 1px solid #EEEEEE ;
    padding: 5px ;
}

.statstab td {
    border: 1px solid #EEEEEE ;
    padding: 5px ;
}

