---
layout: page-en
title: Mátra 115 realtime GPS tracking
activemenu: realtime
---

    <div id="statstab" style="padding:5px">
      <div style="width:80%">

      <p>
        "<a href="http://matra115.hu" target="_blank">Mátra 115 2016</a>"
        realtime GPS tracking.
      </p>
      <p>
        The GPS trackers send location between 10 sec - 1 minute. 
        There can be outages where no mobile network is available, but the track refreshes when the device becomes available.
      </p>
      <p>
        The color of the route segments depends on the pace: greens are faster, reds slower. 
        If we move the pointer above the segments, then the exact details will be displayed. 
        The speed is estimated based on the distances and elapsed time - this may differ from the 
        real becouse of the 10sec resolution. 
        The map provides the ususal functionalities, eg. we can change display mode or use street view mode.
      </p>
      <p>
        Have fun!
      </p>
      <p>
        csaba.sidlo@monotic.com
      </p>
      <p>
        Direct link: <a href="http://movingobject.co/m115-16/" target="blank">movingobject.co/m115-16/</a>
      </p>
     </div>
    </div>