---
layout: page-en
title: Mátra 115 result statistics
activemenu: statistics
---

        <div id="statstab" style="padding:5px">
            <div style="width:80%">
    
                                
                <h2>Results and participants</h2>


            </div>

            <div style="float:left;">
                <script type="text/javascript" src="//ajax.googleapis.com/ajax/static/modules/gviz/1.0/chart.js"> {
"dataSourceUrl":"//spreadsheets.google.com/spreadsheet/tq?key=0AqqFe4O50ECCdDExY1NVeGxTODZEZGNJU2xOcmJmLXc&transpose=0&headers=-1&range=A61%3AD64&gid=10&authkey=CNPfpMEN&pub=1",
"options":{"displayAnnotations":true,"showTip":true,"dataMode":"markers","fontColor":"#fff","midColor":"#36c","pointSize":0,
    "colors":["#3366CC","#DC3912","#FF9900","#109618","#990099","#0099C6","#DD4477","#66AA00","#B82E2E","#316395"],"headerColor":"#3d85c6",
    "vAxis":{"format":"#0.###############"},
    "smoothLine":false,"lineWidth":2,"maxColor":"#222","labelPosition":"right","headerHeight":40,"is3D":false,"fontSize":"14px",
    "hasLabelsColumn":true,"wmode":"opaque","hAxis":{"maxAlternation":1},"maxDepth":2,"allowCollapse":true,"minColor":"#ccc","isStacked":false,
    "mapType":"hybrid","width":600,"height":371,"title":"2011 - M\u00e1tra 115, 88, 55 teljes\u00edt\u0151k"},"state":{},"chartType":"ColumnChart","chartName":"Chart3"} 
                </script>
            </div>
            <div style="float:left;">
                <script type="text/javascript" src="//ajax.googleapis.com/ajax/static/modules/gviz/1.0/chart.js"> {
"dataSourceUrl":"//spreadsheets.google.com/spreadsheet/tq?key=0AqqFe4O50ECCdDExY1NVeGxTODZEZGNJU2xOcmJmLXc&transpose=0&headers=1&range=A1%3AD4&gid=10&authkey=CNPfpMEN&pub=1",
"options":{"reverseCategories":false,"fontColor":"#fff","midColor":"#36c","backgroundColor":"#FFFFFF","pointSize":0,"headerColor":"#3d85c6","minValue":0,
    "vAxis":{"format":"#0.###############"},"headerHeight":40,"is3D":false,"logScale":false,"hAxis":{"maxAlternation":1},
    "wmode":"opaque","title":"2010 - M\u00e1tra 115, 88, 55 teljes\u00edt\u0151k","isStackedBarChart":false,"isStackedColumnChart":false,
    "isStackedAreaChart":false,"maxValue":120,"isStacked":false,"mapType":"hybrid","min":0,"showTip":true,"displayAnnotations":true,"dataMode":"markers",
    "max":120,"colors":["#3366CC","#DC3912","#FF9900","#109618","#990099","#0099C6","#DD4477","#66AA00","#B82E2E","#316395"],
    "smoothLine":false,"maxColor":"#222","lineWidth":2,"labelPosition":"right","fontSize":"14px","hasLabelsColumn":true,"maxDepth":2,
    "legend":"right","allowCollapse":true,"minColor":"#ccc","reverseAxis":false,"width":600,"height":371},"state":{},"chartType":"ColumnChart",
    "chartName":"Chart1"} 
                </script>
            </div>
            <div style="float:left;">            
                <script type="text/javascript" src="//ajax.googleapis.com/ajax/static/modules/gviz/1.0/chart.js"> {
"dataSourceUrl":"//spreadsheets.google.com/spreadsheet/tq?key=0AqqFe4O50ECCdDExY1NVeGxTODZEZGNJU2xOcmJmLXc&transpose=0&headers=1&range=A30%3AD33&gid=10&authkey=CNPfpMEN&pub=1",
"options":{"reverseCategories":false,"fontColor":"#fff","midColor":"#36c","backgroundColor":"#FFFFFF","pointSize":0,
    "headerColor":"#3d85c6","minValue":0,"vAxis":{"format":"#0.###############"},"headerHeight":40,"is3D":false,"logScale":false,"wmode":"opaque",
    "hAxis":{"maxAlternation":1},"title":"M\u00e1tra 115, 88, 55 teljes\u00edt\u0151k - 2009","height":371,"isStackedBarChart":false,"isStackedColumnChart":false,
    "isStackedAreaChart":false,"maxValue":120,"isStacked":false,"mapType":"hybrid","min":0,"showTip":true,"displayAnnotations":true,"dataMode":"markers",
    "max":120,"colors":["#3366CC","#DC3912","#FF9900","#109618","#990099","#0099C6","#DD4477","#66AA00","#B82E2E","#316395"],"smoothLine":false,"width":600,
    "maxColor":"#222","lineWidth":2,"labelPosition":"right","fontSize":"14px","hasLabelsColumn":true,"maxDepth":2,"legend":"right","allowCollapse":true,
    "minColor":"#ccc","reverseAxis":false},"state":{},"chartType":"ColumnChart","chartName":"Chart2"} 
                </script>           
            </div>

