---
layout: page-hu
title: Mátra 115 GPS valósidejű nyomkövetés
activemenu: realtime
---

    <div id="statstab" style="padding:5px">
      <div style="width:80%">

      <p>
        "<a href="http://matra115.hu" target="_blank">Mátra 115 2016</a>"
        valós idejű GPS nyomkövetése.
      </p>
      <p>
        A GPS nyomkövető változó gyakorisággal, 10 másodperc - 1 perc között küld adatot.
        Ahol nincs mobil térerő, kimaradások előfordulhatnak, ekkor az útvonal
        utólag frissül.
      </p>
      <p>
        A megtett út szakaszainak színezése a segességétől függ: a zöld gyorsabb, a
        piros lassabb rész - ha a szakasz fölé visszük az egeret, megjelennek a
        pontos adatok. A sebességet a megtett távból és időből becsüljük, a
        GPS mérés ritkasága miatt lehet eltérés a valóstól.
        A térképen a szokásos funkciók érhetőek el, például válthatunk üzemmódot.
      </p>
      <p>
        Hajrá!
      </p>
      <p>
        csaba.sidlo@monotic.com
      </p>
      <p>
        Közvetlen link: <a href="http://movingobject.co/m115-16/" target="blank">movingobject.co/m115-16/</a>
      </p>
     </div>
    </div>