<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="../css/bootstrap.min.css" rel="stylesheet">

<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 -->
  <link rel="icon" type="image/png" href="http://matra115.hu/favicon.ico">
  <!-- <link type="text/css" href="../css/page.css" rel="stylesheet"> -->

  <title>{{ page.title }}</title>
  <meta name="description" content="Mátra 115 online közvetítés.">
  <meta name="author" content="Mátra 115">


  <meta property="og:title" content="Mátra 115 online közvetítés">
  <meta property="og:description" content="Mátra 115 online közvetítés.">
  <meta property="og:site_name" content="matra115.hu">
  <meta property="og:image" content="http://matra115.hu/kozvetites/img/matra115-logo.jpg">

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-202713-12']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

  <nav class="navbar navbar-default">

    <div class="container-fluid">      
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="http://matra115.hu" id="m115-logo-link" title="Mátra 115" target="blank">          
            <span id="logo-text">MÁTRA 115</span>
            <span id="logo-text-live"><small>élő</small></span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">

          <li class="dropdown {% if page.activemenu == 'cp' %} active{% endif %}">
            <a class="btn" href="#" class="dropdown-toggle btn" data-toggle="dropdown" 
               role="button" aria-expanded="false">
               ellenőrzőpontok&nbsp;&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="../hu/cp-chart.html">grafikon</a></li>
              <li><a href="../hu/cp-table.html">táblázat</a></li>
              <li><a href="../hu/cp-mobile.html">mobil</a></li>
            </ul>        
          </li>

          <li {% if page.activemenu == 'realtime' %}class="active"{% endif %}>
            <a class="btn" href="../hu/realtime-2018.html">GPS követés</a>
          </li>
          <li class="dropdown {% if page.activemenu == 'realtime' %} active{% endif %}">
            <a class="btn" href="#" class="dropdown-toggle btn" data-toggle="dropdown" 
               role="button" aria-expanded="false">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="../hu/realtime-2018.html">GPS követés 2018</a></li>
              <li class="divider"></li>
              <li><a href="../hu/realtime-2017.html">GPS követés 2017</a></li>
              <li><a href="../hu/realtime-2016.html">GPS követés 2016</a></li>
              <li><a href="../hu/realtime-2015.html">GPS követés 2015</a></li>
              <li><a href="../hu/realtime-2014.html">GPS követés 2014</a></li>
              <li><a href="../hu/realtime-2013.html">GPS követés 2013</a></li>
              <!-- <li><a href="../hu/realtime-2012.html">2012</a></li> -->
              <li class="divider"></li>
              <li><a href="../hu/realtime-info.html">GPS követés info</a></li>
            </ul>        
          </li>

          <!--li {% if page.activemenu == 'feed' %}class="active"{% endif %}>
            <a class="btn" href="../hu/feed-fb.html">hírfolyam</a>
          </li-->
          <li class="dropdown {% if page.activemenu == 'feed' %} active{% endif %}">
            <a class="btn" href="#" class="dropdown-toggle btn" data-toggle="dropdown" 
               role="button" aria-expanded="false">
               hírfolyam&nbsp;&nbsp;<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="https://www.facebook.com/groups/matra115/" target="blank">Facebook</a></li>
              <!--li><a href="http://matra115.tumblr.com/" target="blank">Tumblr</a></li-->
              <li><a href="../hu/feed.html">Tumblr</a></li>
            </ul>        
          </li>

          <li {% if page.activemenu == 'statistics' %}class="active"{% endif %}>
            <a class="btn" href="../hu/statistics.html">statisztikák</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li>
            <div style="padding-top:10px; width:135px;">
              <iframe  class="navbar-btn" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmatra115.hu%2Fkozvetites&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
            </div>
          </li>

          <li><a class="btn"  href="../en/cp-chart.html"> English <img src="../img/flag-en.png"></a></li>
          <li><a class="btn"  href="../hu/cp-chart.html"> magyar <img src="../img/flag-hu.png"></a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



  <div id='content'>
    {{ content }}
  </div>

</body>
</html>
